apiVersion: apps/v1
kind: Deployment
metadata:
  name: library-app-deployment   # must match Jenkins
spec:
  replicas: 1
  selector:
    matchLabels:
      app: library
  template:
    metadata:
      labels:
        app: library
    spec:
      containers:
      - name: library-app        
        image: anithaannem/library-app:latest
        ports:
        - containerPort: 5000
